        * {
           font-family: 'Poppins', sans-serif;
           box-sizing: border-box;
       }
       body {
       	background: #1011;
       	padding: 0;
       	left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
       }
       /*...................................................login section....................................................*/
       #login{
       	position: relative;
       	width: 98%;
       	margin-left: 1%;
       	background: #ffffff;
       	margin-top: 3%;
       	height: 55vw;
       	justify-content: center;
       	border: 0px outset ;
        box-shadow: o;
       	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.04);
       }	
       .span{
       	margin-top: 5vw;
       	margin-left: 45%;
       	font-size: 150%;
       	position: absolute;
       	flex-wrap: nowrap;
       }
   form{
    height: auto;
   	display: flex;
   	flex-direction: column;
   	width: 50%;
   	margin-left: 30%;
   	margin-top: 12vw;
   	
   }
  form input{
  	width: 80%;
    height: 4vw;
    border-radius: 5px;
    border: 1px solid #C0C0C0;
    opacity: 0.5;
  }
  form input:hover{
  	border: 1px solid;
  }
  input::placeholder{
  	margin-left: 2%;
  	font-weight: bolder;
  }
  #userid{
  	margin-bottom: 5%;
  }
  .acc{
  	margin-bottom: 1%;
  	margin-top: 2%;
  	color: #1a1b1c;
  	opacity: 0.9;
  }
  #forgot-pswd{
  	margin-top: 2vw;
  	color: #1a1b1c;
  	opacity: 0.7;
  }
  .log-btn, .sign-btn{
  	 width: 80%;
     height: 4vw;
     margin-top: 2vw;
     background: rgba(0, 0, 255, 0.8);
     border-radius: 5px;
     border: none;
     cursor: pointer;
     color: white;
  }

  .uil-eye-slash{
  display: none;
  position: absolute;
  background-image: url("photos/show password icon.jpg");
  width: 16px;
  height: 15px;
  background-size: 15px 15px;
  opacity: 0.5;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 1.5%;
  margin-left: -2vw;
  transform: scale(1.0);
}
.uil-eye{
  position: absolute;
  background-image: url("photos/hide password icon.png");
  width: 16px;
  height: 15px;
  background-size: 15px 15px;
  opacity: 0.5;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 1.5%;
  margin-left: -2vw;
  transform: scale(1.0);
}
  .sign-up{
    height: auto;
  	margin-left: 40%;
  	margin-top: 1%;
  	display: flex;
  	flex-wrap: nowrap;
  }
   p{
  	font-size: 90%;

  }
  #signup-page, #login-page{
  	margin-left: 1%;
  	margin-top: 1.9%;
  	color: rgba(0, 0, 71, 1.0);
  	font-size: 95%;
  	cursor: pointer;
  }
    #login-errorsection, #sign-up-errorsection{
    margin-left: 30%;
    color: red;
    
  }


  #verificationSection {
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    color: #fff; 
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    opacity: 0.9;
    transition: opacity 0.3s;
  }

  #verificationSection.hidden {
    opacity: 0; 
    pointer-events: none; 
  }

  #verificationSection h2 {
    margin-bottom: 20px;
  }

  #verificationSection label {
    font-size: 16px;
    margin-bottom: 10px;
  }

  #verificationSection input {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
  }
  #resendVerification{
    display: ;
    cursor: pointer;
    margin-top: 5%;
    color: white;
  }
  #verificationSection button {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007BFF; /* Blue background */
    color: #fff; /* White text color */
    cursor: pointer;
    transition: background-color 0.3s;
  }

  #verificationSection button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }

  #verificationSection p {
    font-size: 16px;
    margin-top: 20px;
  }

 .ref p{
  font-size: 80%;
 }
  
  /*...................................................restration section....................................................*/
  #signup{
  	display: none;
       	position: relative;
       	width: 98%;
       	margin-left: 1%;
       	background: #ffffff;
       	margin-top: 1%;
       	height: auto;
       	justify-content: center;
       	border: 0px outset ;
        box-shadow: o;
       	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.04);
       }
  .pen-name{
  	margin-top: 1%;
  	margin-bottom: 2%;
  }
    .acc1{
  	margin-bottom: 2%;
  	margin-top: 2%;
  	color: #1a1b1c;
  	opacity: 0.9;
  }

/*...............................................media queries..................................................*/
  @media screen and (max-width: 600px){
    #login, #signup{
      margin-top: -1%;
      width: 100%;
      border: none;
      height: auto;
    }
      .headings{
        width: 100%;
        height: 10vw;
        position: absolute;
       }
     .span{
        margin-top: 2.9vw;
        margin-left: 45%;
        font-size: 80%;
        flex-wrap: nowrap;
       }
     .form{
    width: 100%;
    height: 90vh;
    margin-top: 12%; 
    margin-left: 0vw;
    position: absolute;  
     }
   form{
    width: 100%;
    margin-top: 12%; 
    margin-left: 9vw;
    justify-content: space-between; 
    height: auto;   
   }
  input[type="password"],
  input[type='text'],
  input[type="email"]{
    width: 80%;
    height: 10vw;
    border: none;
    opacity: 1.0;
    margin-bottom: 2%;
  }
  input:focus,
  input:active{
    
    outline: 0;
  }
  form input:hover{
    border: none;
  }
  input::placeholder{
    position: absolute;
    margin-left: 2%;
    font-weight: normal;
    font-size: 80%;
    color: rgba(0, 0, 0, 0.6);
  }
  .line{
    width: 80%;
    margin-bottom: 2%;
    border: none;
    border-bottom: 0.1px solid #C0C0C0;
    border-bottom: 0.1px solid #C0C0C0;
    opacity: 0.4;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
  }

  .acc{
display: none;
  }
    .acc1{
font-size: 80%;
opacity: 1.0;
font-weight: bolder;
  }
  #forgot-pswd{
    font-size: 70%;
    opacity: 1;
  }
  .log-btn, .sign-btn{
     width: 80%;
     height: 8vw;
     margin-top: 8vw;
     border-radius: 20px 20px ;
     border: none;
     cursor: pointer;
  }
    .log-btn, .sign-btn :hover{
      opacity: 0.8;
  }
  .uil-eye-slash{
  display: none;
  position: absolute;
  background-image: url("photos/show password icon.jpg");
  width: 16px;
  height: 15px;
  background-size: 15px 15px;
  opacity: 0.5;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 2.5%;
  margin-left: -5vw;
  transform: scale(1.0);
}
.uil-eye{
  position: absolute;
  background-image: url("photos/hide password icon.png");
  width: 16px;
  height: 15px;
  background-size: 15px 15px;
  opacity: 0.5;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 2.5%;
  margin-left: -5vw;
  transform: scale(1.0);
}
  .sign-up{
    margin-left: 20%;
    margin-top: 1%;
    display: flex;
    flex-wrap: nowrap;
  }
   p{
    color: rgba(0, 0, 0, 0.4);
    font-size: 60%;

  }
  #signup-page, #login-page{
    margin-left: 2%;
    margin-top: 2.9%;
    font-size: 65%;
    cursor: pointer;
  }
  #login-errorsection, #sign-up-errorsection{
    margin-left: 10%;
  }    
  }